extends ./management.template.pug

block addParam
  - const rootPath = '/admin'
  -
    const menuList = [
                    {
                      menuTitle: 'Quản lý',
                      icon: 'bi bi-gear-fill',
                      list: [
                        { title: 'Tài khoản', to: '/management/account' },
                        { title: 'Đối tác', to: '/' },
                        { title: 'Đơn hàng', to: '/management/order' },
                        { title: 'Xét duyệt ĐK bán hàng', to: '/' },
                        { title: 'Hồ sơ cửa hàng', to: '/' },
                      ],
                    },
                    {
                      menuTitle: 'Thống kê',
                      icon: 'bi bi-bar-chart-fill',
                      list: [
                        { title: 'Số liệu theo vùng', to: '/statistic/region' },
                        { title: 'Mặt hàng thiết yếu', to: '/statistic/product' },
                        { title: 'Nhu cầu thực phẩm', to: '/statistic/' },
                        { title: 'Thu nhập', to: '/statistic/income' },
                      ],
                    },
                  ];

block prepend searchInNavbar
  - const searchPlaceholder = 'Tìm kiếm sản phẩm';