mixin categories
  -
    const categories = [
      {
        photo: 'https://res.cloudinary.com/tuan-cloudinary/image/upload/v1641937016/smarket/categories/thit-ca-hai-san.png',
        title: 'Thịt, cá, hải sản',
        groupType: 1
      },
      {
        photo: 'https://res.cloudinary.com/tuan-cloudinary/image/upload/v1641937016/smarket/categories/nuoc-ngot-cac-loai.png',
        title: 'Rau, củ, trái cây',
        groupType: 2
      },
      {
        photo: 'https://res.cloudinary.com/tuan-cloudinary/image/upload/v1641937016/smarket/categories/thit-rau-dong-lanh.png',
        title: 'Đồ uống',
        groupType: 3
      },
      {
        photo: 'https://res.cloudinary.com/tuan-cloudinary/image/upload/v1641937016/smarket/categories/trai-cay-tuoi-ngon.png',
        title: 'Bánh kẹo',
        groupType: 4
      },
      {
        photo: 'https://res.cloudinary.com/tuan-cloudinary/image/upload/v1641937015/smarket/categories/sua-tuoi-cac-loai.png',
        title: 'Mì, cháo, phở, bún',
        groupType: 5
      },
      {
        photo: 'https://res.cloudinary.com/tuan-cloudinary/image/upload/v1641937016/smarket/categories/mi-goi-an-lien.png',
        title: 'Dầu ăn, gia vị',
        groupType: 6
      },
      {
        photo: 'https://res.cloudinary.com/tuan-cloudinary/image/upload/v1641937016/smarket/categories/dau-goi-cac-loai.png',
        title: 'Gạo, bột, đồ khô',
        groupType: 7
      },
    ];

  link(rel="stylesheet", href="/css/categories.css")
  .categories
    h3.categories__title Danh mục
    .categories__list
      each category in categories
        a.categories__item(href="/common/categories/" + category.groupType)
          img(src=category.photo, alt=category.title)
          h5= category.title