//- Required: 
//- link(rel="stylesheet", href="/vendors/selectize/selectize.min.css")
//- script(src="/js/navbar.js"); 
//- script(src="/vendors/selectize/selectize.min.js")
mixin navbar
  -
    const navbarMenu = [
      { label: 'Rau củ sạch', keyword: 'rau củ sạch' },
      { label: 'Thịt tươi', keyword: 'thịt tươi' },
      { label: 'Trái cây', keyword: 'trái cây' },
      { label: 'Nước uống', keyword: 'Nước uống' },
      { label: 'Gia vị', keyword: 'gia vị' },
    ]
  
  link(rel="stylesheet", href="/css/navbar.css")
  .navbar-wrap
    .container.h-100.d-flex.flex-column
      .header.center-vertical.justify-content-between.py-2
        .header-contact.center-vertical
          a.header-item(href="#") Kênh cửa hàng
          span.header-item Liên hệ: 099 888 7777
          a.header-item(href="https://fb.com", target="_blank") 
            i.bi.bi-facebook
          a.header-item(href="https://instagram.com", target="_blank") 
            i.bi.bi-instagram
        .header-auth
          if !user || user.role === 'ROLE_GUEST'
            a.header-item(href="/auth/signup") Đăng ký
            a.header-item(href="/auth/login") Đăng nhập
          else 
            a.header-item(href="/auth/logout") Đăng xuất
            a.header-item(href="/user/profile")= user.username

      .flex-grow-1.center-vertical.justify-content-between
        //- Logo
        a.logo.flex-center.flex-column(href="/")
          img(src="/images/logo.png", alt="Logo")
          h1.logo-name.mb-0 Smarket
        
        //- Location
        .location.center-vertical.mx-3(data-toggle="modal", data-target="#locationModal")
          i.bi.bi-geo-alt-fill
          p.mb-0.ml-2 Chọn vị trí để tìm cửa hàng gần nhất
        //- Searchbar
        .flex-grow-1.mr-4
          div.searchbar.position-relative
            input.field.w-100.bg-white#search-input(type="text", placeholder="Bạn muốn tìm gì ...")
            i.bi.bi-search.field-end-icon#search
          ul.menu.center-vertical.mb-0.pl-2.mt-1
            each menuItem in navbarMenu
              li.menu-item
                a(href="?keyword=" + menuItem.keyword)= menuItem.label
        
        //- Cart
        .cart-wrap.flex-center
          a(href="/common/cart")
            i.bi.bi-cart-fill.cart.position-relative#cart
  #locationModal.location-modal.modal.fade( data-backdrop="static" data-keyboard="false", tabindex="-1", aria-labelledby="locationModal", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Quý khách vui lòng cho biết thêm #[b Địa chỉ nhận hàng] để Smarket tìm các cừa hàng gần nhất
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body.d-flex.flex-column
          select.mb-3#province
            option(value="", hidden, disabled, selected) Chọn tỉnh, thành
          select.mb-3#district
            option(value="", hidden, disabled, selected) Chọn quận, huyện
          select#ward
            option(value="", hidden, disabled, selected) Chọn phường, xã
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Đóng
          button.btn.btn-primary(type="button") Chọn vị trí này
        