extends ./templates/general.template.pug
include ./mixins/navbar.mixin.pug
include ./mixins/footer.mixin.pug

block content
  .page-container
    section.content-wrap
      +navbar
      //- .navbar-break
      //- All content here
    +footer