extends ../templates/shipper.template.pug

block title 
  title Thông tin chi tiết đơn hàng | Smarket

block addStyle 
  link(rel="stylesheet", href="/css/shipper/order-info.css")

block addContent 
  .p-4.flex-grow-1.row.justify-content-md-center

    if orderInfoData && orderInfoData.length > 0
      each orderInfo in orderInfoData 
        - const { productName, quantitativeUnit, unitPrice, source, orderDetailUnitPrice, quantity, orderDetailDes, productTypeName, storeName, storeAddress, storeStatus, imageSource } = orderInfo;

          .row.row-cols-1.row-row-cols-md-3
            .col.mb-4
              .card
                img.card-img-top.rounded.mx-auto.d-block.w-50(src="https://picsum.photos/200/200", alt="...")
                .card-body
                  h3.text-primary.card-title= orderInfo.productName
                  p.text-secondary.card-text Giá sản phẩm: 
                    = orderInfo.unitPrice
                  p.text-secondary.card-text Đơn vị tính: 
                    = orderInfo.quantitativeUnit
                  p.text-secondary.card-text Loại sản phẩm: 
                    = orderInfo.productTypeName
                  p.text-secondary.card-text Số lượng: 
                    = orderInfo.quantity
                  p.text-secondary.card-text Nguồn: 
                    = orderInfo.source
                  p.text-secondary.card-text Cửa hàng: 
                    = orderInfo.storeName
                  p.text-secondary.card-text Địa chỉ cửa hàng: 
                    = orderInfo.storeAddress
                  p.text-secondary.card-text Trạng thái cửa hàng: 
                    = orderInfo.storeStatus
                  p.text-secondary.card-text Mô tả: 
                    = orderInfo.orderDetailDes
                  h3.text-secondary.card-text Giá đơn hàng: 
                    = orderInfo.orderDetailUnitPrice
                  //- p.text-secondary.card-text= orderInfo.imageSource          

block addScript
  script(src="/js/shipper/order-info.js") 